
body {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    #FEDADA,
    #E3A9C1,
    #9F77BE

  );
  font-family: 'Sevillana';
}
/* ::-webkit-scrollbar{
  display: none;
} */

.flex{
  display: flex;
}
